@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

.BookDetail {
    background: #191919;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;


    .BookDetail__nav {
        display: flex;
        justify-content: space-between;

    }
}

.BookDetail__hero {
    width: 40%;
    height: 826px;
    padding-top: 50px;

    img {
        width: 80%;
        height: 700px;
        border-radius: 19px;
        object-fit: cover;

    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 510px;
        margin: 0 58px;
        margin-top: 40px;

        // span {
        //     b {
        //         color: rgba(255, 255, 255, 0.60);
        //         font-size: 12px;
        //         font-style: normal;
        //         font-weight: 300;
        //         line-height: 144.4%;
        //     }

        //     h2 {
        //         color: #C9AC8C;
        //         font-size: 39px;
        //         font-style: normal;
        //         font-weight: 400;
        //         line-height: 144.4%;
        //     }
        // }
    }
}

.BookDetail__inner {
    width: 60%;
    height: 100%;
    padding-top: 53px;

}

.BookDetail__inner--title {
    display: block;
    color: #C9AC8C;
    text-align: start;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.BookDetail__inner__h6 {
    display: block;
    color: #C9AC8C;
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.information__span {
    display: block;
    margin-top: 40px;

    .BookDetail__inner__h5 {
        display: block;
        color: #C9AC8C;
        text-align: start;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        b {
            color: #FFF;
            margin-left: 8px;
        }
    }
}

.BookDetail__inner__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    h3 {
        color: #C9AC8C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    i {
        color: #FFF;
        font-size: 19px;

    }

    hr {
        height: 2px;
        width: 790px;
        background: #FFF;
    }

}

.BookDetail__iAnner--info {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.4%;
    margin-top: 20px;
}

.BookDetail__iAnner__h4 {
    color: #C9AC8C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 46px;
}




.asarlar__span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    p {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

.asarlar {
    display: block;
    color: #C9AC8C;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -35px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;

    .icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;


        // &:nth-child(2) span {
        //     margin-left: 30px;
        // }

        // &:nth-child(3) span {
        //     margin-left: 30px;
        // }

        span {


            i {
                width: 25px;
                height: 25px;
                color: #FFF;
            }

            p {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 8px;
            }

            h6 {
                color: rgba(255, 255, 255, 0.60);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 8px;
            }
        }
    }

    .icons__button {
        border: none;
        padding: 16px 32px;
        color: #3C2710;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #C9AC8C;
    }
}









.Muallif__haqida {
    padding-top: 69px;

    .Muallif__haqida__list {
        width: 640px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Muallif__haqida__item {
            a {
                color: rgba(255, 255, 255, 0.60);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.Muallif__haqida__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

    .Muallif__haqida__info {
        padding: 40px;
        width: 48%;
        height: 220px;
        // background-image: url('../../assets/awatar/“.png');
        // background-repeat: no-repeat;
        // background-position: top -10px left;
        background: #242323;


        // &::before {
        //     // content: '';
        //     // position: absolute;
        //     // width: 10px;
        //     // height: 10px;


        //         content: 'pen'; 
        //         font-family: 'Arial', sans-serif; 
        //         font-size: 20px; 
        //         color: #3366ff; 
        //         margin-right: 5px; 


        // }


        p {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            text-align: start;
        }
    }

    .Muallif__haqida__inner {
        padding: 40px;
        width: 48%;
        height: 220px;
        background: #242323;

        p {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            text-align: start;
        }
    }
}

.Muallif__kitoblar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;

    .Muallif__kitoblar__item {
        a {
            color: #C9AC8C;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}



// .kitoblar__list {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-wrap: wrap;
//     padding-top: 40px;
// }

// .kitoblar__item {
//     margin-left: 30px;
//     margin-top: 50px;

// }

// .thing__card {
//     width: 250px;
//     height: 440px;
//     background: #191919b5;
//     border-bottom: 1px solid #ce0000;

//     img {
//         width: 100%;
//         height: 280px;
//         object-fit: cover;
//     }

//     h3 {
//         color: #C9AC8C;
//         text-align: start;
//         font-size: 25px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//         margin-top: 10px;
//     }

//     p {
//         color: rgba(255, 255, 255, 0.60);
//         font-size: 17px;
//         font-style: normal;
//         font-weight: 300;
//         line-height: 144.4%;
//         margin-top: -5px;

//     }

//     h6 {
//         color: rgba(255, 255, 255, 0.60);
//         font-size: 17px;
//         font-style: normal;
//         font-weight: 300;
//         line-height: 144.4%;
//         margin-top: -15px;
//     }
// }
.book__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .book__item {
        width: 250px;
        height: 400px;
        border: 1px solid #000;
        margin: 50px 25px 20px 0px;
        // transform: skewX(-3deg);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(232, 236, 239, 0.35) 0px -2px 6px 0px inset;

        img {
            //    transform: translate(50px, -70px);
            width: 100%;
            height: 70%;
            object-fit: cover;

        }

        .book__card {
            width: 100%;
            height: 30%;
            padding-top: 10px;
            padding-left: 15px;


            h3 {
                color: rgb(250, 193, 169);
                text-align: start;
                font-size: 19px;
            }

            p {
                color: rgb(250, 193, 169);
                text-align: start;
                font-size: 14px;
                margin-top: 20px;
            }
        }
    }
}



